<app-navbar></app-navbar>
<div *ngIf="cartItems.length === 0">
  <div class="row my-5">
    <div class="col-md-12 my-5">
    </div>
    <div class="card-body cart">
      <div class="col-sm-12 empty-cart-cls text-center">
        <img src="../../../assets/images/ajouter-au-panier.png" width="300" height="300" class="img-fluid mb-4 mr-3">
        <h3><strong>Votre panier est vide</strong></h3>
        <a href="/product" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Continuer les achats</a>
      </div>
    </div>
  </div>
</div>

<section class="content" style="background-image: url('https://img.freepik.com/vecteurs-libre/peint-main-aquarelle-abstrait-aquarelle_23-2149008794.jpg?t=st=1715029639~exp=1715033239~hmac=8f935f8f93befaf54937f976b02e223634615328eb0ad87e132efc93f0f252b1&w=996'); background-size: cover; background-position: center;" *ngIf="cartItems.length !== 0">  
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col">
        <p><span class="h2">Panier </span><span class="h4">({{ cartItems.length }} articles dans votre panier)</span></p>

        <div *ngFor="let item of cartItems" class="card mb-4">
          <div class="card-body p-4">
            <div class="row align-items-center">
              <div class="col-md-2">
                <img [src]="item.product.image" class="img-fluid" alt="{{ item.product.name }}">
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Nom</p>
                  <p class="lead fw-normal mb-0">{{ item.product.name }}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Quantité</p>
                  <div class="input-group">
                    <button class="btn btn-outline-secondary" type="button" (click)="decreaseQuantity(item)">-</button>
                    <input type="text" class="form-control text-center" [(ngModel)]="item.quantity">
                    <button class="btn btn-outline-secondary" type="button" (click)="increaseQuantity(item)">+</button>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Prix</p>
                  <p class="lead fw-normal mb-0">{{ item.product.price }} DT</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Total</p>
                  <p class="lead fw-normal mb-0">{{ item.product.price * item.quantity }} DT</p>
                </div>
              </div>
              <!-- Icône de suppression -->
              <div class="col-md-1 d-flex justify-content-center align-items-center">
                <button class="btn btn-link text-danger" (click)="removeFromCart(item)">
                  <img src="../../../assets/images/bouton-supprimer.png" class="responsive-image">
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-5">
          <div class="card-body p-4">
            <div class="float-end">
              <p class="mb-0 me-5 d-flex align-items-center">
                <span class="small text-muted me-2">Total de la commande :</span>
                <span class="lead fw-normal">{{ getTotalPrice() }} TND</span>
              </p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end mb-5">
          <button type="button" class="btn btn-light btn-lg me-2 btn-pink custom-btn" (click)="goToProducts()">Continuer vos achats</button>
          <button type="button" class="btn btn-lg btn-pink custom-btn" (click)="goToCheckout()">Confirmer commande</button>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
