<div *ngIf="cartItems.length > 0; else emptyCart">
  <h2>Votre Panier</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of cartItems">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <img [src]="item.image" alt="{{ item.name }}" style="max-width: 100px; max-height: 100px;">
          <span>{{ item.name }}</span>
        </div>
        <div>
          <span>{{ item.price }} DT</span>
          <button class="btn btn-danger btn-sm" (click)="removeFromCart(item)">Supprimer</button>
        </div>
      </div>
    </li>
  </ul>
  <p>Total: {{ getTotalPrice() }} DT</p>
</div>
<ng-template #emptyCart>
  <p>Votre panier est vide.</p>
</ng-template>
