<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<section class="info_section layout_padding2-top mt-5">
  <div class="social_container">
    <div class="social_box">
      <a href="">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="">
        <i class="fa fa-youtube" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="info_container">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <h6>
            À PROPOS DE NOUS
          </h6>
          <p>
            Depuis son ouverture en 2018, BeautyShop est devenue une référence incontournable dans le monde des cosmétiques. Située au cœur de Paris, notre boutique offre une large gamme de produits de beauté de haute qualité, allant des soins de la peau aux produits de maquillage, en passant par les parfums et les accessoires de beauté.
          </p>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_form">
            <h5>
              Newsletter
            </h5>
            <form action="#">
              <input type="email" placeholder="Entrez votre email">
              <button>
                S'abonner
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <h6>
            BESOIN D'AIDE
          </h6>
          <p>
            Pour toute question ou assistance, n'hésitez pas à nous contacter. Notre équipe est à votre disposition pour vous offrir le meilleur service possible.
          </p>
        </div>
        <div class="col-md-6 col-lg-3">
          <h6>
            CONTACTEZ-NOUS
          </h6>
          <div class="info_link-box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>123 Rue de Beauté, 75001 Paris, France</span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>+216 26 000 000</span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>contact@beautyshop.fr</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> Tous droits réservés par
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->
</section>

<script>
  document.getElementById('displayYear').innerText = new Date().getFullYear();
</script>
