<app-navbar></app-navbar>
<div class="container">
    <div class="row">
      <div class="col text-center mb-4">
        <h2 class="title">Nos produits</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6" *ngFor="let product of products">
        <div class="product-grid">
          <div class="product-image">
            <a href="#" class="image">
              <img class="pic-1" [src]="product.image">
              <img class="pic-2" [src]="product.image">
            </a>
            <a href="" class="product-like-icon"><i class="far fa-heart"></i></a>
            <ul class="product-links">
              <li><a href="#"><i class="far fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-random"></i></a></li>
              <li><a [routerLink]="['/product-detail', product.id]"><i class="fa fa-eye"></i></a></li>
              <li><a href="/dashboard" (click)="addToCart(product)"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">{{ product.name }}</a></h3>
            <div class="price">{{ product.price }} DT</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<app-footer></app-footer>