.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 30px;
}

.welcome-message {
    text-align: center;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-info:hover {
    background-color: #138496;
    border-color: #138496;
}
